body{
    /* background-color: skyblue; */
    background: url(mountains-background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
#sun{
    float: right;
    margin-top: 50px;
    margin-right: 200px;
    height:100px;
    width:100px;
    border-radius:50%;
    background-color: gold;
}
.cloud{
    background-color: azure;
    margin: 4em;
    height: 50px;
    width: 120px;
    border-radius: 2em;
    opacity: 0.5;
    position: relative;
}
.cloud:before, .cloud:after {
    content: '';
    background-color: azure;
    border-radius: 50%;
    position: absolute;
}
.cloud:before {
    height: 60px;
    width: 60px;
    top: -1.5em;
    left: 1em;
}
.cloud:after {
    height: 40px;
    width: 40px;
    top: -1em;
    right: 1em;
}
.big{
    transform: scale(1.2);
    animation: moveAcross 20s linear infinite;
}   
.medium{
    animation: moveAcross 30s linear infinite;
}
.small{
    transform: scale(0.8);
    animation: moveAcross 25s linear infinite;
}
@keyframes moveAcross{
    from{
        margin-left:-30%;
    }
    to{
        margin-left:100%;
    }
}